{#
Expects object named 'blockText' with properties:

* sizeClass <string> [o-width-r-half | o-width-r-third | etc]
* alignClass <string> [o-pull-left]
* matrixBlock <matrixBlock of type text as defined in craft>
#}

 <div class="c-blocks__text o-text {{ blockText.sizeClass }} {{ blockText.alignClass }}">
    <h4 class="t-heading-4">{{ blockText.matrixBlock.header }}</h4>
    <span class="t-sub-heading">{{ blockText.matrixBlock.subtitle }}</span>
    <div class="{{ blockText.columnClass }}">
      {{ blockText.matrixBlock.body }}
    </div>
  </div>
  