.c-network {
    
    &-section {
        @include grid-row;
    }
  
    &{
      padding: 1rem;
      @include grid-column(1 of 1 seamless);
  
      @include mappy-bp(tablet-landscape){
        padding: 2rem;
        @include grid-column(1 of 2 seamless);
        @include grid-push(left 1 of 2 gutter 1.333);
      }
    }
  }
  