<section class="c-network-section">
    <article class="c-network">
      <h2 class="c-network__heading t-heading-5">
        {{ entry.homeNetworkHeader }}
      </h2>
      <p>
        {{ entry.homeNetworkText }}
      </p>
    </article>
  </div>
</section>
