    {% for color in colors %}
        <div    class="color--{{ color.name }}" 
                style="
                height: 4rem;
                text-align: center;
                padding: 1rem;"> 
                    <h3 style="-webkit-text-stroke: 2px black;color: white;">{{ color.name }}</h3> 
        </div>
    {%  endfor %}