.c-mosaic {
    &-row {
        @include grid-row;
    }

    &-column {
        @include grid-column(1 of 1 seamless);
    
        @include mappy-bp(tablet-landscape) {
            &--left {
                @include grid-column(1 of 2 seamless);
            }
            &--right {
                @include grid-column(1 of 2 seamless);
            }
        }
    }
}