{% if not craft.request.isAjax %}
<!DOCTYPE html>

  {% include '@meta' %}

<header class="c-app-header o-grid-container">

  {% block app_header_branding %}
    {% include '@app-header-branding' %}
  {% endblock %}
  
  {% block app_header_details %}
    {% include '@app-header-details' %}
  {% endblock %}
</header>
{% endif %}

<main class="c-app">
    {% block app_content %}
    Please read: <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a>
    {% endblock %}
</main>
{% if not craft.request.isAjax %}
    {% include '@app-footer' %}
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
    
      <script src="/dist/bundle.js?version=1.0.0"></script>
    
    
      {% if craft.config.devMode %}
      <div class="debug-grid" data-js-debug-grid="false"> 
        <div class="o-grid-container o-page o-grid-row">
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
          <div class="debug-grid-col"></div>
        </div>
      </div>
      {% endif %}
    
      </body>
      </html>
{% endif %}