// scss-lint:disable NestingDepth SelectorDepth Indentation

.app-footer {
    padding: 1rem;
    @include mappy-bp(phone-landscape){
      padding: 2rem;
    }
    @include mappy-bp(tablet-landscape){
      padding: 3rem;
    }
  
    background: getColor("gray-light") none;
  
    &-container {
      @include grid-row;
      font-family: $font-family-sansa-soft-pro;
      font-size: $font-size-small;
      line-height: 1.5;
      white-space: nowrap;
      
      @include mappy-bp(phone-landscape){
        padding-left: 2rem;
        padding-right: 2rem;
      }
      @include mappy-bp(tablet-landscape) {
        // padding-left: 3rem;
        // padding-right: 3rem;
        // margin-left: auto;
        // margin-right: auto;
        // max-width: calc(1440px - 2rem);
      }
    }
    &__info {
      @include grid-column(1 of 1);
      @include mappy-bp(phone-landscape){
        @include grid-column (1 of 2 seamless);
      }
      @include mappy-bp(tablet-landscape){
        @include grid-column (1 of 4 seamless);
      }
      //remvoe margin set 
      margin-left: 0;
      font-style: normal;
    }
  
    &__company {
      font-family: $font-family-sansa-soft-condensed-pro;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      font-style: normal;
    }
  
    &__link{
      color: getColor("red");
      text-decoration: underline;
    }
  } 
  
  