<footer class="app-footer">

    <div class="app-footer-container">
        <address class="app-footer__info">
            <span class="app-footer__company">{{ siteName }}</span><br/>
            {{ globalContact.globalAddress }}<br/>
            {{ globalContact.globalZipCode }}
            {{ globalContact.globalCity }}<br/>
            <br/>
            <a class="app-footer__link" href="https://goo.gl/maps/XNXjpjkz3z92">routebeschrijving</a>
        </address>
        <div class="app-footer__info">
            <br/>
            {{ globalContact.globalPhoneNumber }}<br/>
            {{ globalContact.globalEmailAddress }}<br/>
            <br/>
            <a class="app-footer__link" href="/voorwaarden/algemene-voorwaarden">algemene voorwaarden</a>
        </div>
        <div class="app-footer__info">
            <br/>
            {{ globalContact.globalCompanyRegistrationId }}<br/>
            {{ globalContact.globalVatNumber }}<br/>
        </div>
        <div class="app-footer__info">
            <br/>
            <a class="app-footer__link" href="https://www.facebook.com/thinkbright/">Facebook</a><br/>
            <a class="app-footer__link" href="https://www.linkedin.com/company/thinkbright">LinkedIn</a><br/>
        </div>
    </div>

</footer>
