  <a class="branding" href="/">
    <span class="logo-image-wrapper">
      <img class="logo-image" src="/svg/logo_beeldmerk.svg" alt="logo"/>
    </span>
    <img class="title-image" src="/svg/tb_woordmerk.svg" alt="logo"/>
  </a>