// scss-lint:disable NestingDepth SelectorDepth Indentation

.c-app-header {
    display: flex;
    justify-content: space-between;
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 10;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    
    @include mappy-bp(phone-landscape) {
      left: 2rem;
      right: 2rem;
      top: 3rem;
    }
    @include mappy-bp(tablet-portrait) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  
    .branding {
      // display: flex; // ?
    }
  
    .title-image {
      display: inline-block; // Make title and logo line up
      height: 2.25rem;
      width: 9.31rem;
    }
  
    .logo-image-wrapper {
      display: inline-block;
      position: relative;
      vertical-align: top;
  
      @include mappy-bp(max-width tablet-landscape) {
        margin-right: 0.5rem;
        top: -0.325rem;
        width: 1.75rem;
      }
    }
  
    .logo-image {
      display: inline-block;
      height: 1.75rem;
      width: auto;
    }
  
    .details {
      @include padding(horizontal);
      font-family: $font-family-sansa-soft-pro;
      font-style: normal;
      text-align: right;
  
      .line > .contact {
        text-decoration: underline;
      }
  
      .line,
      .line > a {
        color: getColor("red");
        font-size: $font-size-base;
        font-weight: $font-weight-light;
        margin: 0;
      }
    }
  
    @include mappy-bp(tablet-portrait) {
      left: -.5rem;
      right: -.5rem;
    }
  
    // When screen is big enough, logo gets a fixed position
    @include mappy-bp(tablet-landscape) {
      left: 0;
      right: 0;
  
      .logo-image-wrapper {
        left: .625rem;
        position: absolute;
  
        .logo-image {
          position: fixed;
          top: 2.625rem;
        }
      }
    }
  
    @include mappy-bp(max-width tablet-portrait) {
      .details {
        display: none;
      }
    }
  }
  