.c-case {
    
      &__hero-image, &__hero-image-container {
        height: 85vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
      }
    
      &-opener {
        @include grid-row;
        
        &__header {
          @include grid-column(1 of 1 seamless);
          padding-left: 1rem;
          padding-right: 1rem;
          
          @include mappy-bp(phone-landscape){
            padding-left: 3rem;
            padding-right: 3rem;
          }
          @include mappy-bp(tablet-portrait){
            @include grid-column(2 of 3 seamless);
            padding-left: 2rem;
            padding-right: 2rem;
          }

          @include mappy-bp(tablet-landscape) {
            @include grid-column(1 of 2 seamless);
            padding-left: 2rem;
            padding-right: 2rem;
          }
          
          margin-top: 84vh;
          z-index: 1;
          
          // Require min-device-height for wider screens
          @include mappy-bp(h min-device-height) {
            @include mappy-bp(phone-landscape){
              margin-top: 0;
              position: absolute;
              top: 54vh;
            }

            @include mappy-bp(tablet-landscape){
              top: 56vh;
            }
          }
    
          &-title {
            color: getColor("blue");
          }
    
          &-subtitle {
            color: getColor("blue-light");
            font-family: $font-family-sansa-soft-pro;
            font-weight: $font-weight-light;
            text-transform: lowercase;
          }
        }
      }
    
      &-header {
        @include grid-row;
        margin-bottom: 3rem;
        // Require min-device-height for wider screens
        @include mappy-bp(h min-device-height) {
           @include mappy-bp(phone-landscape){
            margin-top: 76vh;
          }
           @include mappy-bp(tablet-landscape){
            margin-top: 76vh;
          }
           @include mappy-bp(desktop){
            margin-top: 78vh;
          }
    
          &__intro {
            @include grid-column(1 of 1 seamless);
            padding-left: 1rem;
            padding-right: 1rem;
            color: getColor("blue-light");
            @include mappy-bp(phone-landscape){
              padding-left: 3rem;
              padding-right: 3rem;
            }
            @include mappy-bp(tablet-portrait){
              @include grid-column(2 of 3 seamless);
              padding-left: 2rem;
              padding-right: 2rem;
            }
          }
        }
    
      &-content {
        &-mosaic {
            padding: 0;
            @include padding(top);
        }
      }
    }
  }