{% extends '@app' %}

{% block app_header_details %}{% endblock %}

{% block app_content %}

  <div class="o-grid-container c-case o-page">

    {% if entry.pageHeroImage is defined %}
      {% include '@image' with { componentImage: {
        craftImage: entry.pageHeroImage,
        imageClass: 'c-case__hero-image',
        containerClass: 'c-case__hero-image-container',
        objectFit: 'cover'
     } } %}
    {% endif %}

     <div class="c-case-opener">
      <header class="c-case-opener__header">
        <h4 class="c-case-opener__header-title">{{ entry.pageTitle }}</h4>
        <h2 class="c-case-opener__header-subtitle">{{ entry.pageSubTitle }}</h2>
      </header>
  </div>

    <header class="c-case-header">
      <div class="c-case-header__intro">
        {{ entry.pageIntro }}
      </div>
      {#
        TODO: Contactpersoon met contactgevens
        TODO: Team tonen incl. externen
        <div class="o-width-r-third c-case-header-right">
        <dl>
          {% if entry.pageCustomer[0].title is defined %}
            <dt class="t-heading-6">Klant</dt>
            <dd class="c-case-header-summary-detail">{{ entry.pageCustomer[0].title }}</dd>
          {% endif %}

          {% if entry.pageYear is defined %}
            <dt class="t-heading-6">Jaar</dt>
            <dd class="c-case-header-summary-detail">{{ globalMacros.formatDate(entry.pageYear, 'Y') }}</dd>
          {% endif %}

          {% if entry.pageContact[0].fullName is defined %}
            <dt class="t-heading-6">Contactpersoon</dt>
            <dd class="c-case-header-summary-detail">{{ entry.pageContact[0].fullName }}</dd>
          {% endif %}
        </dl>
      </div>#}
    </header>
 
    {# Content contains the blocks component followed by a mosaic component #}
    <div class="c-case-content">

      <section class="c-case-content-blocks">
        {% if entry.pageBlocks is defined %}
          {% include '@blocks' with { componentBlocks: {
            craftComponentBlocks: entry.pageBlocks,
            otherParamsHere: '',
          } } %}
        {% endif %}
      </section>
    </div>

  </div>
  
    <section class="c-case-content-mosaic">
      {% if entry.pageMosaic is defined %}
        {% include '@mosaic' with { pageMosaic: entry.pageMosaic } %}
      {% endif %}
    </section>

{% endblock %}
