// Bare HTML elements only!

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  &.u-fixed {
    overflow: hidden;
  }
}

// Common margin-bottom for vertical rhythm.
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul:not(:last-child),
ol:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

section {
  position: relative;
  overflow: hidden;

  header + &,
  section + &,
  figure + &,
  & + figure,
  & + footer {
    margin-top: 3rem;
  }
}
