// Orchestrate grid classes based on options which are passable to $query
$directions: top right bottom left horizontal vertical;
$gutterOptions: container gutter no-container parent-container seamless;
$columns: 1 2 3 4 5 6 7 8 9 10 11 12;
$columnsOf: (
  1: of,
  2: of,
  3: of,
  4: of,
  5: of,
  6: of,
  7: of,
  8: of,
  9: of,
  10: of,
  11: of,
  12: of
);

@mixin _debug-grid-make-iterable($property, $lists, $query: (), $separator: '-') {
  @each $list in $lists {
    @each $item, $querySeparator in $list {
      $innerQuery: $query;

      @if length($innerQuery) > 0
          and $querySeparator != null
          and type-of(nth($innerQuery, length($innerQuery))) == number {
        $innerQuery: append($innerQuery, $querySeparator, space);
      }

      $selector: #{$separator + $item};
      $innerQuery: append($innerQuery, $item, space);

      &#{$selector} {
        @if $property == column {
          @include grid-column($innerQuery);
        } @else if $property == pad {
          @include grid-pad($innerQuery);
        }

        $i: index($lists, $list) + 1;
        $nextLists: ();
        @while $i <= length($lists) {
          $nextLists: append($nextLists, nth($lists, $i), comma);
          $i: $i + 1;
        }

        @include _debug-grid-make-iterable($property, $nextLists, $innerQuery);
      }
    }
  }
}

.debug-grid {
  background-color: rgba(white, 0.2);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  .o-grid-row {
    height: 100%;
  }

  &:not([data-js-debug-grid="true"]) {
    display: none;
  }

  &--examples {
    position: absolute;

    &[data-js-debug-grid-examples="true"] {
      display: block;
    }

    .o-grid-row {
      @include margin(vertical);

      height: 5rem;
    }

    .debug-grid-col {
      background-color: rgba(blue, 0.1);
      outline: dashed 3px black;
    }
  }

  &-col {
    @include grid-column();

    background-color: rgba(red, 0.1);
    height: 100%;
    position: relative;

    &::after {
      background-color: rgba(green, 0.1);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }

    // TODO: uncomment when iterable function works correctly
    // @include _debug-grid-make-iterable('column', (
    //   $columns,
    //   $columnsOf,
    //   $gutterOptions
    // ));

    &--pad {
      @include grid-pad(horizontal);

      &::after {
        content: 'horizontal';
        left: grid-width(left 2 gutter);
        right: grid-width(right 2 gutter);
      }

      // TODO: uncomment when iterable function works correctly
      // @include _debug-grid-make-iterable('pad', (
      //   $directions,
      //   $columns,
      //   $columnsOf,
      //   $gutterOptions
      // ));
    }
  }
}

.debug-component {
  background-color: black;
  bottom: 0;
  color: white;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  z-index: 1111; // 15
}


// Smaller pre font so that we can use dump
// <pre>
//   {{ dump(cart) }}
// </pre>
pre {
  font-size: 0.6rem;
}