
.o-grid-container {
 @include grid-container;
}

.o-grid-row {
  @include grid-row;
}

.c-app {
  min-height: 150px;
}

.o-page {
  margin-top: 7rem;
  @include mappy-bp(tablet-portrait) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include mappy-bp(max-width phone-landscape) {
    margin-top: 2rem;
  }
}
