<section class="c-section-team">

{% include '@team-header' %}

<div class="c-team-members">
    {% for craftUser in craftTeam %}
        <div class="c-team-members__column">
            {% include '@team-member' with {craftUser: craftUser} %}
        </div>
    {% endfor %}
</div>
</section>