/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/327be0");

// =============================================================================
// Font Face
// Source: https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );

  $formats: ( otf: "opentype", ttf: "truetype" );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


/**
 * @license
 * MyFonts Webfont Build ID 3308512, 2016-11-14T20:17:34-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Carrara-MediumIt by Hoftype
 * URL: http://www.myfonts.com/fonts/hoftype/carrara/medium-Italic/
 * Copyright: Copyright (c) 2016 by Dieter Hofrichter. All rights reserved.
 *
 * Webfont: Carrara-Medium by Hoftype
 * URL: http://www.myfonts.com/fonts/hoftype/carrara/medium/
 * Copyright: Copyright (c) 2015 by Dieter Hofrichter. All rights reserved.
 *
 * Webfont: Carrara-LightIt by Hoftype
 * URL: http://www.myfonts.com/fonts/hoftype/carrara/light-italic/
 * Copyright: Copyright (c) 2016 by Dieter Hofrichter. All rights reserved.
 *
 * Webfont: Carrara-Light by Hoftype
 * URL: http://www.myfonts.com/fonts/hoftype/carrara/light/
 * Copyright: Copyright (c) 2016 by Dieter Hofrichter. All rights reserved.
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3308512
 * Licensed pageviews: 10,000
 *
 * © 2016 MyFonts Inc
*/

@font-face {font-family: 'Carrara';font-weight: bold;font-style: italic;src: url('webfonts/327BE0_0_0.eot');src: url('webfonts/327BE0_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/327BE0_0_0.woff2') format('woff2'),url('webfonts/327BE0_0_0.woff') format('woff'),url('webfonts/327BE0_0_0.ttf') format('truetype');}
@font-face {font-family: 'Carrara';font-weight: bold;font-style: normal;src: url('webfonts/327BE0_1_0.eot');src: url('webfonts/327BE0_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/327BE0_1_0.woff2') format('woff2'),url('webfonts/327BE0_1_0.woff') format('woff'),url('webfonts/327BE0_1_0.ttf') format('truetype');}
@font-face {font-family: 'Carrara';font-weight: normal;font-style: italic;src: url('webfonts/327BE0_2_0.eot');src: url('webfonts/327BE0_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/327BE0_2_0.woff2') format('woff2'),url('webfonts/327BE0_2_0.woff') format('woff'),url('webfonts/327BE0_2_0.ttf') format('truetype');}
@font-face {font-family: 'Carrara';font-weight: normal;font-style: normal;src: url('webfonts/327BE0_3_0.eot');src: url('webfonts/327BE0_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/327BE0_3_0.woff2') format('woff2'),url('webfonts/327BE0_3_0.woff') format('woff'),url('webfonts/327BE0_3_0.ttf') format('truetype');}

@include font-face("Sansa Soft Pro", "webfonts/SansaSoftPro-Light", 400, normal, eot woff ttf);
@include font-face("Sansa Soft Pro", "webfonts/SansaSoftPro-LightItalic", 400, italic, eot woff ttf);

@include font-face("Sansa Soft Condensed Pro", "webfonts/SansaSoftConPro-SemiBold", 500, normal, eot woff ttf);
@include font-face("Sansa Soft Condensed Pro", "webfonts/SansaSoftConPro-Bold", 600, normal, eot woff ttf);

// General font variables
$font-family-sansa-soft-pro: "Sansa Soft Pro", sans-serif;
$font-family-sansa-soft-condensed-pro: "Sansa Soft Condensed Pro", sans-serif;

$font-family-carrara: "Carrara", serif;

$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 600;

$font-size-base: 18px; // Base size. This is the root (1rem) font size. If changed, all fonts change with it.
$font-size-small: 0.8rem;
$line-height-base: 1.7;


// FONT SIZE LOCK
//
// See: http://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/
//
// * viewport size between phone-landscape and widescreen: scales between $font-multiplier-low-end and $font-multiplier-high-end
// * viewport size smaller than phone-landscape: fixed at $font-multiplier-low-end
// * viewport size bigger than widescreen: fixed at $font-multiplier-high-end
//
// The formula is:
// fontSize = minSize + (maxSize - minSize) * ((current - bpMin) / (bpMax - bpMin))

$font-multiplier-low-end: 1; // Font size for smalles devices. No unit. Value is relative to $font-base-size.
$font-multiplier-high-end: 1.3; // Font size for largest devices. No unit. Value is relative to $font-base-size.

$fixed-min-size : $font-size-base * $font-multiplier-low-end; // This is the smallest font size
$fixed-max-size : $font-size-base * $font-multiplier-high-end; // This is the largest font size
$bp-start-dynamic : map-get($breakpoints, 'phone-landscape'); // The viewport width at which the dynamic font size starts
$bp-end-dynamic : map-get($breakpoints, 'widescreen'); // The viewport width at which the dynamic font size ends
$viewport-range : ($bp-end-dynamic - $bp-start-dynamic) / 1px; // This value must be without unit (therefore the /1px)
$size-range: ($fixed-max-size - $fixed-min-size) / 1px ; // This value must be without unit (therefore the /1px)

$dynamic-size: calc((#{$fixed-min-size} + (#{$size-range} * ((100vw - #{$bp-start-dynamic}) / #{$viewport-range}))));

html {

  color: getColor("black");
  font-family: $font-family-carrara;
  font-size: $fixed-min-size;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;

  @include mappy-bp(phone-landscape) {
    font-size: $dynamic-size;
  }

  @include mappy-bp(widescreen) {
    font-size: $fixed-max-size;
  }
}

a {
  color: getColor("gray");
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
