// Define headings and their associated classes here.
// No colors here, just fonts, transforms, types and sizes

// scss-lint:disable UnnecessaryParentReference
// scss-lint:disable EmptyRule

$font-size-h1: 2.5rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1.1rem;
$font-size-h6: 0.9rem;

$line-height-h1: 3rem;
$line-height-h2: 2.5rem;
$line-height-h3: 2rem;
$line-height-h4: 1.5rem;
$line-height-h5: 1rem;
$line-height-h6: 1rem;

.t-heading-1,
h1 {
  font-family: $font-family-sansa-soft-condensed-pro;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  text-transform: uppercase;

  & + .t-sub-heading {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
  }
}

.t-heading-2,
h2 {
  font-family: $font-family-sansa-soft-condensed-pro;
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  line-height: $line-height-h2;
  text-transform: uppercase;

  & + .t-sub-heading {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
  }
}

.t-heading-3,
h3 {
  font-family: $font-family-sansa-soft-condensed-pro;
  font-size: $font-size-h3;
  font-weight: $font-weight-bold;
  line-height: $line-height-h3;
  text-transform: uppercase;

  & + .t-sub-heading {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
}

.t-heading-4,
h4 {
  font-family: $font-family-sansa-soft-condensed-pro;
  font-size: $font-size-h4;
  font-weight: $font-weight-bold;
  line-height: $line-height-h4;
  margin-bottom: .5rem;
  text-transform: uppercase;

  & + .t-sub-heading {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
  }
}


.t-heading-5,
h5 {
  font-family: $font-family-sansa-soft-condensed-pro;
  font-size: $font-size-h5;
  font-weight: $font-weight-bold;
  line-height: $line-height-h5;
  text-transform: uppercase;
  margin-bottom: 1rem;

  & + .t-sub-heading {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
  }
}

.t-heading-6,
h6 {
  font-family: $font-family-sansa-soft-condensed-pro;
  font-size: $font-size-h6;
  font-weight: $font-weight-bold;
  line-height: $line-height-h6;
  text-transform: uppercase;

  & + .t-sub-heading {
    font-size: $font-size-h6;
    line-height: $line-height-h6;
  }
}

.t-sub-heading {
  display: block;
  font-family: $font-family-sansa-soft-pro;
  font-weight: $font-weight-light;
  margin-bottom: 1rem;
  margin-top: 0;
  text-transform: lowercase;
}
