.c-team {
    &-wrapper{
      @include grid-row;
    }
  
    &-content {
      @include grid-column(1 of 1 seamless);
      padding: 1rem;

      @include mappy-bp(phone-landscape) {
      padding: 3rem;
      }
      @include mappy-bp(tablet-portrait){
        padding: 2rem;
        @include grid-column(2 of 3 seamless);
      }

      &__body {
        font-size: $font-size-base;
        font-family: $font-family-sansa-soft-pro;
        margin: 0;
      }
    }
}