  <div class="c-team-wrapper">
    <article class="c-team-content">
      <h4 class="c-team-content__heading">{{ entry.homeTeamHeader }}</h4>
      <p class="c-team-content__sub-heading t-sub-heading">{{ entry.homeTeamSubheader }}</p>
      <p class="c-team-content__body">
          {{ entry.homeTeamText }}
      </p>
     </article>
  </div>