<!--
Expects object named 'mosaicRow'.
This objects contains the tiles that will form one row.
A row can either be one 'wide' tile or a collection of 'small' nad 'tall' tiles.

A row contains three objects:

* wide <mosaicTile>
* left <array of mosaicTile>
* right <array of mosaicTile>

If a row has a non-empty 'wide' object, then 'left' and 'right' will be empty.
The same holds vice-versa. If 'left' and 'right' are non-empty, 'wide' will be.
 -->


{# Open row #}
<div class="c-mosaic-row">
{# Check if wide is non-empty, then close row #}
    {% if mosaicRow.wide|length %}

    <div class="c-mosaic-column c-mosaic-column--double">

        {% include '@tile' with { mosaicTile: mosaicRow.wide } %}

    </div>
</div> {# Close Row #}

{# Else: build left and right column, then close row #}
    {% else %}

    <div class="c-mosaic-column c-mosaic-column--left">

        {% for mosaicItem in mosaicRow.left %}
            {% include '@tile' with { mosaicTile: mosaicItem } %}
        {% endfor %}

    </div>
    <div class="c-mosaic-column c-mosaic-column--right">

        {% for mosaicItem in mosaicRow.right %}
            {% include '@tile' with { mosaicTile: mosaicItem } %}
        {% endfor %}

    </div>
</div> {# Close row #}

    {% endif %}