.c-terms {
    margin-top: 5rem;
  
    @include mappy-bp(phone-landscape){
      margin-top: 8rem;
    }
  
  
    &-page-heading {
      @include padding(horizontal);
    }
    &-blocks {
      .c-blocks-block {
        @include padding();
      }
    }
  }
  