{% extends '@app' %}

{% block app_header_details %}{% endblock %}

{% block app_content %}

  <div class="o-container o-page c-terms">
    <h2 class="t-heading-2 c-terms-page-heading">{{entry.title}}</h2>

    <section class="c-terms-blocks">
      {% if entry.componentBlocks is defined %}
        {% include '@blocks' with { componentBlocks: { craftComponentBlocks:
        entry.componentBlocks, otherParamsHere: '' } } %}
      {% endif %}
    </section>


  </div>

{% endblock %}
