// scss-lint:disable NestingDepth

.c-home {
    &--perspective {
        background-image: url('/svg/perspective.svg');
        background-position: 4rem 0;
        background-repeat: no-repeat;
        padding-bottom: 4rem;

        @include mappy-bp(max-width phone-landscape) {
        background-image: none;
        }
    }
}