{% extends '@app' %}

{% block app_content %}
    <div class="o-grid-container c-home o-page">
        <section class="c-home--perspective">

            {% include '@opener' %}
            {% include '@mosaic' %}

        </section>

        {% include '@workflow' %}
        {% include '@team' %}
        {% include '@network' %}

    </div>

    {% include '@footer' %}
{% endblock %}

