<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="/main.css">
    <title>Preview Layout</title>
</head>
<body>
<div class="o-grid-container">
    <div class="o-grid-row">
        <div class="c-team-members">
            <div class="c-teeam-members__column">
                {{ yield|raw }}
            </div>
        </div>
    </div>
</div>
</body>
</html>