.c-team {
    &-members {
      @include grid-row;
      position: relative;

      &__column {
        @include grid-column(1 of 3 seamless);
        padding: 0;
        @include mappy-bp(tablet-landscape) {
          padding: 0 1rem;
        }
      }
      &__image {
        margin: auto;
        padding: 0;
        width: 100%;
        height: 100%;

        &-container {
          display: block;
          width: 100%;
          height: 100%;
        }
    }
  }


    // &-image {
    //    // height: 100%;
    // }

    // &-image-container {
    //   // height: 100%;
    // }

    &-footer {
      color: getColor("white");
      text-align: center;
      padding: 1rem;
      min-height: 6rem;
      display: flex;
      font-family: $font-family-sansa-soft-pro;
      font-weight: $font-weight-light;
      justify-content: center;
      flex-direction: column;
    }

    &-title {
      color: getColor("white");
      font-size: $font-size-h6;
      margin-bottom: 0;
      line-height: 1;

      @include mappy-bp(phone-landscape) {
        font-size: $font-size-h4;
      }
    }


  }
