<!-- Expects an object named 'craftUser' as defined in Craft: craft.users.group('someGroup') -->
{% include "@image" with { componentImage: {
  craftImage: craftUser.profileSitePhoto[0],
  padding: 'none',
  imageClass: 'c-team-member__image',
  containerClass: 'c-team-member__image-container',
} } %}
<div
  class="c-team-footer"
  style="background-color: {{ craftUser.profileSiteBackgroundColor }}">
  <h2 class="c-team-title">
    {{ craftUser.name }}
  </h2>
  <p class="c-team-body">
    {{ craftUser.profileSiteTitle }}
  </p>
</div>
