
{# Expects object named 'blockImage' with properties:

* sizeClass <string> [o-width-r-half | o-width-r-third | etc]
* matrixBlock <matrixBlock of type image as defined in craft> #}

 <div class="c-blocks__image {{ blockImage.sizeClass }}">
    {% if blockImage.matrixBlock.image is defined %}
      {% include '@image' with { componentImage: {
        craftImage: blockImage.matrixBlock.image[0],
        expands: []
      } } %}
    {% endif %}
  </div>
  