.c-opener {
  @include grid-row;

  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2rem 0 4rem;
  @include mappy-bp(phone-landscape){
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include mappy-bp(tablet-landscape){
  padding-left: 0;
  padding-right: 0;
  }

  &__content {
    @include grid-column(1 of 1 seamless);
      @include mappy-bp(tablet-portrait){
      @include grid-column(2 of 3 seamless);
      margin: 0;
    }
  }
  
  &__heading {
    color: getColor("red");
    line-height: $line-height-h2;
    margin-bottom: 0;
    max-width: 600px;

    @include mappy-bp(phone-landscape) {
      font-size: $font-size-h2;
      line-height: $line-height-h2;
    }
  }
  &__in-between-heading {
    color: getColor("red");
    font-family: $font-family-sansa-soft-pro;
    font-weight: $font-weight-light;
    margin-bottom: 1rem;
    text-transform: lowercase;
  }
  &__sub-heading {
    font-family: $font-family-carrara;
    text-transform: none;
    color: getColor("blue");
    font-weight: $font-weight-light;
    font-size: $font-size-h5;
    line-height: $line-height-h4;

    @include mappy-bp(phone-landscape) {
      font-size: $font-size-h4;
      line-height: $line-height-h3;
    }
  }
}
