<header class="c-opener">
  <div class="c-opener__content">
    <h1 class="c-opener__heading t-heading-3">{{ title }}</h1>
    <div class="c-opener__in-between-heading t-heading-3">{{ inBetween }}</div>
    <div class="c-opener__sub-heading t-heading-5">{{ subTitle }}</div>
  </div>
</header>
