.c-image {
      &--float-left {
        float: left;
      }
    
      &--float-right {
        float: right;
      }
    
      &--expand-center {
        @include expand(absolute, center);
      }
    
      &--expand-bottom {
        @include expand(absolute, bottom);
      }
    
      &--expand-left {
        @include expand(absolute, left);
      }
    
      &--expand-right {
        @include expand(absolute, right);
      }
    
      &--expand-top {
        @include expand(absolute, top);
      }
    
      // &--padding {
      //   @include padding();
      // }
    
      &--vertical-padding {
        @include padding(vertical);
      }
    
      &--horizontal-padding {
        @include padding(horizontal);
      }
    }
    