<!--
Inserts an image specified by a Craft image object

Expects an object named 'componentImage'. The componentImage.craftImage property is required and defines the image. Other properties
are optional and define the image presentation.

* <craftImage> <craft image object>

* [expands] <array of strings> [center|bottom|left|right|top]
* [breakpoints] <object> { sizeName: sizeValue, }
* [lazyLoad] <boolean>
* padding [horizontal|vertical|around]
* imageClass <string>
* containerClass <string> - The <picture /> element that contains the image
* objectFit <string> Adds object-fit:<objectFit> style and attribute data-object-fit="objectFit" (for polyfill) to container

-->
{% if componentImage.craftImage is defined %}

  {# properties object contains all the variables used in this template #}

  {% set properties = {
    expands: '',
    baseTransform: 'web',
    breakpoints: componentImage.breakpoints|default(
      {
      	"x-large"  : (1041 / 16) ~ "em",
      	"large"    : (801 / 16) ~ "em",
      	"medium"   : (601 / 16) ~ "em",
      	"small"    : (481 / 16) ~ "em",
      	"x-small"  : 0
      }),
    craftImage: componentImage.craftImage,
    lazyLoad: componentImage.lazyLoad|default(false),
    padding: '',
    srcAttr: (componentImage.lazyLoad|default(false)) ? 'data-srcset' : 'srcset',
    imageClass: componentImage.imageClass|default(''),
    containerClass: componentImage.containerClass|default(''),
    objectFitStyle: (componentImage.objectFit|default(false)) ? 'object-fit: ' ~  componentImage.objectFit : '',
    objectFitAttribute: (componentImage.objectFit|default(false)) ? 'data-object-fit=' ~ componentImage.objectFit  : '',
  } %}

  {% if properties.padding == 'around' %}
      {% set properties = properties|merge({'padding': 'c-image--padding' }) %}
    
    {% elseif properties.padding == 'vertical' %}
      {% set properties = properties|merge({'padding': 'c-image--vertical-padding' }) %}
    
    {% elseif properties.padding == 'horizontal' %}
      {% set properties = properties|merge({'padding': 'c-image--horizontal-padding' }) %}

  {% endif %}

  {% for alignment in componentImage.expands|default([]) %}
    {% set properties = properties|merge({'expands': properties.expands ~ ' c-image--expand-' ~ alignment }) %}
  {% endfor %}

  <picture class="{{ properties.containerClass }}">
    {% spaceless %}
      <!--[if IE 9]><video style="display: none;"><![endif]-->

      {% set currentImage = properties.craftImage %}
      {% set imageMap = [] %}
      {% for sizeName, sizeValue in properties.breakpoints %}
        {% for alternativeImage in properties.craftImage['alternativeImages']|default([]) %}
          {% if alternativeImage.context.key == sizeName %}
            {% set currentImage = alternativeImage.image.first()|default(currentImage) %}
          {% endif %}
        {% endfor %}
        {% set map = {
          ('' ~ sizeName): currentImage
        } %}
        {% set imageMap = imageMap|merge(map) %}
      {% endfor %}

      <!--[if IE 9]></video><![endif]-->

      <img
        src="{{ properties.craftImage.url }}"
        alt="{{ properties.craftImage.title }}"
        class=" {{ properties.imageClass }}
                {{ properties.padding }}
                {{ properties.lazyLoad ? 'lazyload' : '' }}
                {{ properties.expands }}"
        style="{{properties.objectFitStyle}}"
       />
    {% endspaceless %}
  </picture>

  {% if properties.lazyLoad %}
    <span class="visuallyhidden" href="{{ properties.craftImage.getUrl() }}"></span>
  {% endif %}

{% endif %}