.c-footer {
  @include mappy-bp(tablet-landscape) {
    @include grid-row;
  }
  
    &-left {
      overflow: hidden;
    }
  
    &-image {
      @include mappy-bp(tablet-landscape){
        @include grid-column(1 of 2 seamless);
      }
    }
  
    &-content {
      align-items: center;
      text-align: center;
      background-color: getColor("brown");
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      @include mappy-bp(tablet-landscape){
        @include grid-column(1 of 2 seamless);
        padding: 2rem;
      }
    }
  
    &-right {
      align-items: center;
      background-color: getColor("brown");
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    &__header {
      color: getColor("yellow-light");
    }
  
    &__body {
      color: getColor("white");
      margin-top: 2rem;
      span {
        display: block;
        line-height: 2;
      }
    }
  
  }
  