<footer class="c-footer">
    <div class="c-footer-image">
      {% include '@image' with { componentImage: { craftImage:
        craft.assets.id(275)[0], imageClass: 'c-home-footer-image', padding: '' } } %}
    </div>
    <article class="c-footer-content">
      <div class="c-footer__textbox">
        <h2 class="c-footer__header t-heading-3">
          Tijd voor een gesprek
        </h2>
        <div class="c-footer__body t-sub-heading">
          <span>{{ globalContact.globalPhoneNumber }}</span>
          <span>{{ globalContact.globalEmailAddress }}</span>
        </div>
      </div>
    </article>
</footer>
