<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="/main.css">
    <title>Preview Layout</title>
</head>
<body>
<div class="o-grid-container">
    <div class="o-grid-row">
        <div class="tile-wrapper">

            {{ yield|raw }}

        </div>
    </div>
</div>
</body>
</html>