.c-tile {
  
  font-family: $font-family-sansa-soft-pro;
  overflow: hidden;
  transition: box-shadow 400ms ease, transform 400ms ease;
  position: relative;
  height: 20rem;

  @include mappy-bp(tablet-landscape) {
    &--tall {
      height: 40rem;
    }

    &--wide {
      &>.c-tile-content {
        width: 50%;
      }
    }
  }
  
  &__image {
    margin: auto;
    
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-container {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    padding: 2rem 8rem 1rem 2rem;
    bottom: 0;
    position: absolute;
    z-index: 1;

    &__heading {
      margin-bottom: 0.5rem;
    }

    &__sub-heading {
      font-size: $font-size-h3;
      line-height: $line-height-h3;

      display: block;
      font-family: $font-family-sansa-soft-pro;
      font-weight: $font-weight-light;
      margin-bottom: 1rem;
      margin-top: 0;
      text-transform: lowercase;
    }
    &__link a {
      text-decoration: underline;
    }

  }
}
  
  // SCSS FOR ANIMATING TILES (TILE.JS)
  //
  // .js-tile-clone {
  //   // transition: all 600ms cubic-bezier(0.4, 0, 0, 1);
  //   animation: expand-to-viewport 600ms cubic-bezier(0.4, 0, 0, 1) forwards;
  //   z-index: 1;
  //
  //   .text {
  //     animation: fade-out 600ms cubic-bezier(0.4, 0, 0, 1) forwards;
  //   }
  // }
  // box-sizing: border-box;
  // color: inherit;
  // display: block;
  // text-decoration: none;
  // width: 100%;
  // will-change: box-shadow, transform;
  // z-index: 1;
  