{% if mosaicTile.linkUrl %}
  <a href="{{ mosaicTile.linkUrl }}">
{% endif %}
    <article class="c-tile c-tile--{{ mosaicTile.type|default('small') }} js-tile" style="
      background-color: {{ mosaicTile.backgroundColor }};
      color: {{ mosaicTile.fontColor }};
    ">

    <div class="c-tile-content">

    <!-- Layout blocks are placed next to or below each other -->
    <h4 class="c-tile-content__heading">{{ mosaicTile.header }}</h4>

    <div class="c-tile-content__sub-heading">{{ mosaicTile.subHeader }}</div>
    {% if mosaicTile.body is not empty %}
    <div class="c-tile-content__body">
      {{ mosaicTile.body }}
    </div>
    {% endif %}

  </div>

    {% if mosaicTile.caseHeroImage %}
      {% include '@image' with {componentImage: {
        craftImage: mosaicTile.caseHeroImage,
        expands: [],
        imageClass: 'c-tile__image',
        containerClass: 'c-tile__image-container',
        objectFit: 'cover',
        padding: 'around',
      }} %}
    {% endif %}
  </article>

{% if mosaicTile.linkUrl %}
</a>
{% endif %}