.c-workflow {
    @include grid-row;
    background-color: getColor("yellow-bg");
    color: getColor("gray");
    align-items: center;
    @include mappy-bp(phone-landscape) {
    padding-left: 3rem;
    padding-right: 3rem;
    }
  
    &__image {
      padding: 2rem;
      @include mappy-bp(phone-landscape){
        @include grid-column(1 of 1 seamless);
      }
      @include mappy-bp(tablet-landscape){
        @include grid-column(6 seamless);
      }
  
      &>img{
      display: block;
      margin: auto;
      }
    }
      
    &__content {
      padding: 1rem;
      @include mappy-bp(phone-landscape){
        @include grid-column(1 of 1);
        padding: 2rem;
      }
  
      @include mappy-bp(tablet-landscape) {
        @include grid-column(6 of 12 seamless);
        margin-left: 0;
      }
  
    }
  
    &__heading {
      color: getColor("red");
      // margin-bottom: 0;
    }
  
    &__sub-heading {
      color: getColor("red");
    }
  
  }
  