<section class="c-workflow">
    <figure class="c-workflow__image">
      <img src="/svg/proces_model.svg" alt="Thinkbright diensten &amp; procesmodel">
    </figure>
    <article class="c-workflow__content">
      <h3 class="c-workflow__heading">{{ entry.homeWorkflowHeader }}</h3>
      <p class="c-workflow__sub-heading t-sub-heading">{{ entry.homeWorkflowSubheading }}</p>
        <p>{{entry.homeWorkflowText}}</p>
    </article>
</section>
