  <address class="details">
    <p class="line">
      <a href="tel:{{ globalContact.globalPhoneNumber|replace({' ': ''}) }}" class="tel">{{ globalContact.globalPhoneNumber }}</a>
      |
      <a href="mailto:{{ globalContact.globalEmailAddress }}" class="email">{{ globalContact.globalEmailAddress }}</a>
    </p>
  </address>