.light{
    font-weight: $font-weight-light;
}
.bold{
    font-weight: $font-weight-bold;
}
.regular{
    font-weight: $font-weight-regular;
}

.sansa-soft-pro {
    font-family: $font-family-sansa-soft-pro;
    
    &--condensed {
        font-family: $font-family-sansa-soft-condensed-pro;
    }
}

.carrara {
    font-family: $font-family-carrara;
}

.font-column {
    @include grid-column (1 of 3);
    padding: 1rem;
    text-align: center;
}

.heading {
    color: getColor("gray");
}