<div class="o-grid-row">

{% for weight in weights %}
<div class="font-column">
<h5 class="heading">{{weight}}</h5>
    {% for class, font in fonts %}
        <p class="{{class}} {{weight}}">{{font}}</p>
    {% endfor %}
</div>
{% endfor %}

</div>