.c-blocks {
    align-items: center;

}

.o-width-r {
    &-half {
      @include grid-column(1 of 1 seamless);
      @include mappy-bp(tablet-landscape) {
        @include grid-column (1 of 2 seamless);
      }
    }
    &-full {
      @include grid-column (1 of 1 seamless);
    }
  }