<!--
Expects object named 'componentBlocks' with properties:

* craftComponentBlocks <craft matrix object>
* otherParamsHere <type> [ value1 | value2 ]
 -->

 <div class="c-blocks o-grid-row">
    {% for matrixBlock in componentBlocks %}
        {% set blocksBlock = {
          matrixBlock: matrixBlock,
          sizeClass: matrixBlock.size is defined ? 'o-width-r-' ~ matrixBlock.size : '',
          alignClass: matrixBlock.align is defined ? 'o-pull-' ~ matrixBlock.align : '',
          columnClass: matrixBlock.size is defined ? (matrixBlock.size == 'full' ? 'o-text--two-columns' : '') : '',
        } %}
  
        
        {% if matrixBlock.type == 'text' %}
          {% include '@block-text' with { blockText: blocksBlock} %}
  
        {% elseif matrixBlock.type == 'image' %}
          {% include '@block-image' with { blockImage: blocksBlock} %}
  
        {% endif %}
  
    {% endfor %}
  </div>
  